<% if @current_user && @current_user.present? %>
	<div id="gameContainer"></div>
	<div id="highscores">
		<h1>Highscores:</h1>
		<% @highscores.each do |highscore| %>
			<ul>
				<li><%= highscore.name %> || <%= highscore.score %></li>
			</ul>
		<% end %>
	</div>
<% else %>
	<h1> Create new Player Account </h1>
	<div class="user-form">
		<%= form_for @user, :html => { :multipart => true } do |f| %>

  	<div class="field">
	    <%= f.label :name %><br>
	    <%= f.text_area :name %>
  	</div>

  	<div class="field actions">
    	<%= f.submit %>
  	</div>
  	<% end %>
  </div>
		
  <%= form_tag '/login' do %>
		<h2>Login</h2>
		<hr>
		<div class="form-group">
		    <%= label_tag :name %>
		    <%= text_field_tag :name, nil %>
		</div>
    
    <%= submit_tag "Login" %>
    
	<% end %>
<% end %>

