<!DOCTYPE html>
<html>
<head>
  <title>DeathFromAbove</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<% if @current_user %>
			<li><%= link_to "Welcome #{ @current_user.name }!(logout)", login_path, :method => :delete, :data => {:confirm => "Are you sure you wish to logout?"} %></li>
		<% end %>
	</nav>
	<%= include_gon %>
	<%= yield %>

</body>
</html>
